body {
  background-color: #ead3cb;
}

.cabecera {
  background-color: #bdc7c9;
  color: #2b4f60;
}

.barraBusqueda {
  background-color: #2b4f60;
  color: #bdc7c9;
}

.botonNav {
  color: #bdc7c9;
  background-color: #bdc7c9;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 600;
  color: #bdc7c9;
}

.elementoNav {
  padding-right: 10px;
  padding-left: 10px;
}

li a:hover {
  background-color: #1b313c;
  color: white;
}

.active {
  background-color: #1b313c;
  color: white;
}

h1 {
  color: #845460;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
}

.carousel-inner img {
  width: 50%;
  /*max-height: 460px;*/
  height: 50%;
}

.descripcion {
  color: #573941;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: medium;
  text-align: justify;
}

iframe {
  max-width: 100%;
}

@keyframes play {
  from {
    background-position: -283px -192px;
  }
  to {
    background-position: -379px -192px;
  }
}

div.gato {
  width: 32px;
  height: 32px;
  background: url('../htmls/img/sprite.png') left center;
  margin: 0 auto;
  animation: play 0.6s steps(3, end) infinite;
}

footer {
  background-color: #2B4F60;
  color: #BDC7C9;
  height: 40px;
  bottom: 0;
  position: fixed;
  text-align: center;
}